.container {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        background-color: #EDEDED;
}

ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
}

li {
        float: left;
        font-size: 20px;
}

li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
}

li a:hover {
        background-color: #111;
}

.txt{
    font-family: 'Modak', cursive;
    text-align: center;
    color: #4caf50;
    font-size: 25px;
}

#footer {
  width: 41.5cm;
  position: absolute;
  bottom: -650px;
  height: 71px;
  border-top: 8px solid #978484;
  font-size: 12px;
  color: #978484;
}
      
#logo{
    position: absolute;
    top: 35cm;
    right: 16cm
}

#txt{
    position: absolute;
    right: 3cm;
    font-size: 19px
}